{% extends "Layouts/body.html.twig" %}

{% block main_title %}
    {{ parent() }} : Liste des Produits
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/Vue/Products/ListProduct.css') }}" type="text/css">
{% endblock%}

{% block vue %}

    {# on inclut les informations de chaque produit dans une div masquée #}
    {% for produit in produits %}
            <div id="product-info-{{ produit.id }}" class="product-info" >
                    <h2>{{ produit.libelle }}</h2>
                    <p><label>Prix unitaire :</label>{{ produit.prixUnitaire }} €</p>
                    <p><label>Quantité en stock :</label>{{ produit.quantite }}</p><br>
                    {% if produit.description != null  %}
                        <label>Desricption :</label>
                        <p> {{ produit.description }}</p>
                    {% endif %}
                {# on creer 2 variables afin de biens s'assurer pour l envoie du formulaire  #}
                    {% set quantite_deja_commande = 0 %} {# cette variable permet de "commander" des quantites negatifs de produit et donc cela aura l'effet d'enlever le produit dans le panier et les remettre dans la BD  #}
                    {% set isporductincart = false %} {# cette variable verifier si le produit est dans le panier si ce le cas alors on affichera le formulaire pour ajouter/enlever un produit sinon on affichera pas le formulaire #}
                    {% for item in panier %} {# on parcout chaque item du panier et on verifier s'il est correspond à l'id du produit pour init les variables #}
                        {% if item.produit.id == produit.id %}
                            {% set isporductincart = true %}
                            {% set quantite_deja_commande = item.quantite %}
                        {% endif %}
                    {% endfor %}
                    {% if produit.quantite > 0 or isporductincart%} {# s'il y a du stock ou s'il y a ce produit deja dans le panier de l'utilisateur alors on peut faire des modifications dessus #}
                        <form method="POST" action=" {{ path('order_addproduct') }}">
                                <label for="quantite">Quantité :</label>
                                <select id="quantite" name="quantite">
                                    {% for i in range(- quantite_deja_commande, produit.quantite ) %}
                                        <option value="{{ i }}" {% if i == 1 %}selected{% endif %}>{{ i }}</option>
                                    {% endfor %}
                                </select>
                                <input type="hidden" name="id" value="{{ produit.id }}">
                                <button id="BtnModifier" type="submit">Ajouter Au Panier</button>
                        </form>
                    {% endif %}
            </div>
    {% endfor %}

    {#  l'élément de sélection qui affichera les options pour chaque produit #}
    <div id="ProductList">
        <select id="ProductSelect">
            <option value="">Sélectionnez un produit</option>
            {% for produit in produits %}
                <option value="{{ produit.id }}">{{ produit.libelle }}</option>
            {% endfor %}
        </select>
        <div id="ProductInfo"></div>
        <h5>Vous voulez savoir combien de produits nous avons ? c'est par <a href="{{ path('product_mail') }}">ici</a>  </h5>
    </div>

    {# l'utilisateur sélectionne un produit dans le menu déroulant, l'événement récupérera l'ID
    du produit sélectionné et récupérera les informations du produit à partir de la div masquée.
    Les informations seront ensuite affichées dans la div #ProductInfo. Si la quantité en stock du produit est
    supérieure à zéro, le bouton "Modifier" sera également affiché. #}
    <script>
        const productSelect = document.querySelector('#ProductSelect');
        const productInfo = document.querySelector('#ProductInfo');

        productSelect.addEventListener('change', (event) => {
            const productId = event.target.value;
            if (productId === '') {
                productInfo.innerHTML = '';
                productInfo.classList.remove('has-number');
            } else {
                const productInfoDiv = document.querySelector(`#product-info-${productId}`);
                productInfo.innerHTML = productInfoDiv.innerHTML;
                productInfo.classList.add('has-number');
            }
        });
    </script>

{% endblock %}
