{% extends "Layouts/body.html.twig" %}

{% block main_title %}
    {{ parent() }} : Liste des Produits
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/Vue/Products/ListProduct.css') }}" type="text/css">
{% endblock%}

{% block vue %}

    {# on inclut les informations de chaque produit dans une div masquée #}
    {% for produit in produits %}
            <div id="product-info-{{ produit.id }}" class="product-info" >
                    <h2>{{ produit.libelle }}</h2>
                    <p><label>Prix unitaire :</label>{{ produit.prixUnitaire }} €</p>
                    <p><label>Quantité en stock :</label>{{ produit.quantite }}</p><br>
                    {% if produit.description != null  %}
                        <label>Desricption :</label>
                        <p> {{ produit.description }}</p>
                    {% endif %}
                    {% if produit.quantite > 0 %}
                        {% set quantite_deja_commande = 0 %}
                        {% for item in panier %}
                            {% if item.produit.id == produit.id %}
                                {% set quantite_deja_commande = item.quantite %}
                            {% endif %}
                        {% endfor %}
                        <form method="POST" action=" {{ path('order_addPorduct') }}">
                                <label for="quantite">Quantité :</label>
                                <select id="quantite" name="quantite">
                                    {% for i in range(- quantite_deja_commande, produit.quantite - quantite_deja_commande + 1) %}
                                        <option value="{{ i }}" {% if i == 1 %}selected{% endif %}>{{ i }}</option>
                                    {% endfor %}
                                </select>
                                <input type="hidden" name="id" value="{{ produit.id }}">
                                <button id="BtnModifier" type="submit">Ajouter Au Panier</button>
                        </form>
                    {% endif %}
            </div>
    {% endfor %}

    {#  l'élément de sélection qui affichera les options pour chaque produit #}
    <div id="ProductList">
        <select id="ProductSelect">
            <option value="">Sélectionnez un produit</option>
            {% for produit in produits %}
                <option value="{{ produit.id }}">{{ produit.libelle }}</option>
            {% endfor %}
        </select>
        <div id="ProductInfo"></div>
    </div>

    {# l'utilisateur sélectionne un produit dans le menu déroulant, l'événement récupérera l'ID
    du produit sélectionné et récupérera les informations du produit à partir de la div masquée.
    Les informations seront ensuite affichées dans la div #ProductInfo. Si la quantité en stock du produit est
    supérieure à zéro, le bouton "Modifier" sera également affiché. #}
    <script>
        const productSelect = document.querySelector('#ProductSelect');
        const productInfo = document.querySelector('#ProductInfo');

        productSelect.addEventListener('change', (event) => {
            const productId = event.target.value;
            if (productId === '') {
                productInfo.innerHTML = '';
                productInfo.classList.remove('has-number');
            } else {
                const productInfoDiv = document.querySelector(`#product-info-${productId}`);
                productInfo.innerHTML = productInfoDiv.innerHTML;
                productInfo.classList.add('has-number');
            }
        });
    </script>


{% endblock %}


{# {{ path('produit_modifier', {'id': produit.id}) }} #}


{#                                 <input type="number" id="quantite" name="quantite" min="-{{ quantite_deja_commande}}" max="{{ produit.quantite }}" value="1">
#}
{# événement de submit du formulaire qui récupère la valeur du champ de quantité et met à jour
l'URL d'action du formulaire avec cette quantité #}
{#


<script>
    {% for produit in produits %}
    const formModifierProduit{{ produit.id }} = document.querySelector('#form-modifier-produit-{{ produit.id }}');
    formModifierProduit{{ produit.id }}.addEventListener('submit', (event) => {
        const quantiteInput = document.querySelector('#form-modifier-produit-{{ produit.id }} #quantite');
        const quantite = quantiteInput.value;
        const actionUrl = formModifierProduit{{ produit.id }}.getAttribute('action') + '?quantite=' + quantite;
        formModifierProduit{{ produit.id }}.setAttribute('action', actionUrl);
    });
    {% endfor %}
</script>
<div id="PorductList">
        <form method="POST" action="">
            <table>
                <tr>
                    <td colspan="4"><h2>Liste des Salles Disponibles à la vente</h2></td>
                </tr>
                <tr>
                    <th>Label</th>
                    <th>Prix unitaire</th>
                    <th>Quantité en stock</th>
                    <th>Choix</th>
                </tr>
                {% for produit in produits %}
                    <tr>
                        <td>{{ produit.libelle }} </td>
                        <td>{{ produit.prixUnitaire }} </td>
                        <td>{{ produit.quantite }} </td>
                        <td>
                            {% if produit.quantite > 0 %}
                                    <select name="quantite">
                                        {% for i in 0..produit.quantite %}
                                            <option value="{{ i }}" {% if i == 0 %}selected{% endif %}>{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                    <button id="BtnModifier" type="submit">Modifier</button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </form>
    </div> #}