{# Nous aurons pu utiliser le {{ is_granted() }} ici mais nous preferons passe par des arguments pour + de lisibilité #}
{% block menu %} {# {{ path('') }}  {{ asset('') }}#}
    <nav class="menu">
        <ul class="main-menu">
            <li> <a href="{{ path('app_accueil') }}">Accueil </a></li>
            {% if isAuth == false %}
                <li><a href="{{ path('account_connect') }}">Connexion</a></li>
                <li><a href="{{ path('account_createaccount') }}">Créer un compte</a></li>
            {% else %}
                {%if isSuperAdmin == true %}
                    <li><a href="{{ path('admin_createadmin') }}">Créer un admin</a></li>
                {% endif %}
                {% if isClient == true %}
                    <li><a href="{{ path('product_listproduct') }}">Liste Des produits</a></li>
                    <li><a href="{{ path('order_clientcart') }}">Mon panier <img src="{{ asset('images/Logo/Panier.png') }}" alt="Nombre de Produits" width="26px" height="25px" title="Nombre de Produits"> {{ nbproduit }}</a></li>
                {% endif %}
                {% if isAdmin == true %}
                    <li><a href="{{ path('admin_managecustomers') }}">Gérer utilisateurs</a></li>
                    <li><a href="{{ path('product_createproduct') }}">Créer un produit</a></li>
                    <li><a href="https://fr.wikipedia.org/wiki/The Truman Show" target="_blank" >The Truman Show</a></li>
                {% endif %}
                <li> <a href="{{ path('account_editProfile') }}">Gérer Mon profil</a></li>
                <li><a href="{{ path('account_disconnect') }}">Déconnexion</a></li>
            {% endif %}
            {% if isAuth == false %}
                <li><img src="{{ asset('images/Logo/anonyme.png') }}" alt="Utilisateur pas connecté" width="100px" height="100px" title="Vous êtes un Utilisateur Anonyme"></li>
            {% else %}
                {% if isAdmin == true%}
                    <li><img src="{{ asset('images/Logo/Admin.png') }}" alt="Admin connecté" width="50px" height="50px" title="Vous êtes un Admin" ></li>
                {% endif %}
                {%if isSuperAdmin == true %}
                     <li><img src="{{ asset('images/Logo/SuperAdmin.png') }}" alt="SuperAdmin connecté" width="50px" height="50px" title="Vous êtes un SuperAdmin"></li>
                {% endif %}
            {% endif %}
        </ul>
    </nav>
{% endblock %}