{% extends "Layouts/body.html.twig" %}

{% block main_title %}
    {{ parent() }} : Mon Panier
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/Vue/Order/OrderList.css') }}" type="text/css">
{% endblock%}

{% block vue %}
    <div class="cart-container">
        <h2>Mon Panier</h2>
        {% if produits is empty%}
            <p class="EmptyOrder">Votre panier est vide. Allez <a href="{{ path('product_Listproduct') }}">ici</a> pour commander 😉</p>
        {% else %}
            <table class="cart-table">
                <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Prix unitaire</th>
                        <th>Quantité</th>
                        <th>Prix total</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% set total_articles = 0 %}
                    {% set prix_total = 0 %}
                    {% for produit in produits %}
                        <tr>
                            <td>{{ produit.produit.libelle }}</td>
                            <td>{{ produit.produit.prixUnitaire }} €</td>
                            <td>{{ produit.quantite }}</td>
                            <td>{{ produit.produit.prixUnitaire * produit.quantite }} €</td>
                            <td> <a href="{{ path('order_removeProductFromCart', {'productId': produit.produit.id }) }}"><img src="{{ asset('images/Logo/Supp_icon.png') }}" width="25px" height="25px" title="Supprimer Ce Produit Du Panier"></a></td>
                        </tr>
                        {% set total_articles = total_articles + produit.quantite %}
                        {% set prix_total = prix_total + produit.produit.prixUnitaire * produit.quantite %}
                    {% endfor %}
                    <tr>
                        <td colspan="2">Total :</td>
                        <td>{{ total_articles }}</td>
                        <td>{{ prix_total }} €</td>
                    </tr>
                </tbody>
            </table>
            <div class="cart-actions">
                <a href="{{ path('product_Listproduct') }}">Continuer mes achats</a>
                <a href="{{ path('order_placeOrder') }}">Commander</a>
                <a href="{{ path('order_clearCart') }}">Vider Le Panier</a>
            </div>
        {% endif %}
    </div>
{% endblock %}

