{% extends "Layouts/body.html.twig" %}

{% block main_title %}
    {{ parent() }} : Gérer les utilisateurs
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/Vue/Admin/manageCustomers.css') }}" type="text/css">
{% endblock%}

{% block vue %}
    <div id="CustomersList">
        <h2>Les utilisateurs de votre site</h2>
            <table class="client-table">
                <thead>
                <tr>
                    <th>Login</th>
                    <th>Mot de Passe</th>
                    <th>Nom Prénom</th>
                    <th>Date de naissance</th>
                    <th>Status</th>
                    <th colspan="2">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for client in clients %}
                    <tr>
                        <td>{{ client.login  }}</td>
                        <td>{{ client.password }}</td>
                        <td>{{ client.nom }}  {{ client.prenom }}</td>
                        <td>{{ client.dateNaissance.format('d/m/Y') }}</td>
                        <td>
                            {% for role in client.roles %}
                                {% if role != 'ROLE_NOROLE' %}
                                     {{ role }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        {% for role in client.roles %}
                            {% if role != 'ROLE_NOROLE' and role != 'ROLE_SUPERADMIN' %}
                                <td>
                                    <a href="">
                                        <img src="{{ asset('images/Logo/SuppUser.png') }}" width="30px" height="30px" title="Supprimer Cette Utilisateur" alt="">
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ path('admin_clearCartbyAdmin', {'clientid': client.id }) }}">
                                        <img src="{{ asset('images/Logo/ClearCart.png') }}" width="30px" height="30px" title="Vider Son Panier" alt="">
                                    </a>
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
{% endblock %}

